/* quote design tokens */
:root { /* @boilerplate */
  --quote-max-width: 900px; /* @boilerplate */
  --quote-padding: 0 var(--spacing-m); /* @boilerplate */
  --quote-padding-desktop: 0 var(--spacing-l); /* @boilerplate */
  --quote-quotation-font-size: 120%; /* @boilerplate */
  --quote-image-bg: var(--card-bg-light);
  --quote-image-radius: 20px;
  --quote-image-gap: 20px;
  --quote-image-padding: 20px;
  --quote-image-size: 110px;
  --quote-image-size-desktop: 156px;
}
