main .columns > div {
  gap: 2.5rem;
}

main .columns h2,
main .columns h3 {
  color: var(--link-color);
}

main .columns > div > div {
  border-left: 3px solid var(--link-color);
  padding-left: 1.25rem;
}
