/* quote-kol design tokens */
:root {
  --quote-kol-max-width: 1000px;
  --quote-kol-padding: 0 var(--spacing-m);
  --quote-kol-padding-desktop: 0 var(--spacing-l);
  --quote-kol-quotation-font-size: 120%;
  --quote-kol-image-size: 120px;
  --quote-kol-image-size-desktop: 180px;
  --quote-kol-gap: var(--spacing-m);
}
