/* brand-primary design tokens */
:root {
  --brand-primary-radius: 20px;
  --brand-primary-title-font-size: 28px;
  --brand-primary-body-bg: #dfe9f1;

  /* stat-box variant */
  --brand-primary-stat-value-font-size: 56px;
  --brand-primary-stat-value-font-size-desktop: 80px;
  --brand-primary-stat-source-font-size: 20px;
}
